@font-face {
    font-family: Pixel;
    src: url("./font/PixelCowboy.otf");
}

body{
    font-family: 'Pixel Cowboy';
    background-image: url("./images/background1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;      
        
}



.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
        
}

.how{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
      
}

.titlegame{
    font-size: 4em;
    text-shadow: black 15px 20px 9px;
}

#game-board{
   cursor:  Crosshair ;
   /*cursor:url('./images/Aim/aimtest.gif'), default;*/
}


